*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.navigation {
    background-color: #C4C4C4;
    color: #000000;
    width: 100%;
    height: 150px;
}
li {
    float: left;
    padding: 2px;
    margin-left: 37px;
    margin-top: 62px;
}
.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.slider img {
    opacity: 1;
    width: 100%;
}
.news1  {
    background-color: #FF9900;
    width: 424px;
    height: 348px;
    margin-left: 38px;
    margin-top: 33px;
    float: left;
}
.news1 img {
    height: 200px;
    opacity: 1;
    width: 100%;
}
.news2 {
    background-color: #FFC700;
    width: 424px;
    height: 348px;
    margin-top: 33px;
    float: left;
}
.news2 img {
    height: 200px;
    opacity: 1;
    width: 100%;
}
.news3 {
    background-color: #FFE600;
    width: 424px;
    height: 348px;
    margin-top: 33px;
    float: left;
}
.news3 img {
    height: 200px;
    opacity: 1;
    width: 100%;
}

h4{
    margin-left: 11px;
    margin-top: 14px;
}

p{
    margin-left: 11px;
    font-size: 12px;
}

h5{
    margin-left: 11px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.footer{
    float: left;
    margin-left: 38px;
    margin-top: 48px;
    margin-bottom: 48px;
    color: #000000;
    font-size: 12px;
}

.exit {
    margin-top: 13px;
    margin-left: 48px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.first1 {
    background-color: #FF9900;
    width: 1272px;
    height: 630px;
    margin-left: 36px;
    margin-top: 13px;
}

.pictures {
    width: 424px;
    height: 200px;
}

.pictures img {
    width: 100%;
    height: 200px;
    opacity: 1;
    float: left;
    margin-top: 68px;
}

.pictures1 {
    width: 424px;
    height: 200px;
    margin-top: -132px;
    float: left;
}

.pictures1 img {
    width: 100%;
    height: 200px;
    opacity: 1;
}

.pictures2 {
    width: 424px;
    height: 200px;
    margin-top: -132px;
    float: left;
}

.pictures2 img {
    width: 100%;
    height: 200px;
    opacity: 1;
}

.second2 {
    background-color: #FFC700;
    width: 1272px;
    height: 630px;
    margin-left: 36px;
    margin-top: 13px;
}
.third3 {
    background-color: #FFE600;
    width: 1272px;
    height: 630px;
    margin-left: 36px;
    margin-top: 13px;
}






















